/* #region General Utility */

:root{
    --todo--primary: #47adf1;
    --todo--website: #d863a0;
    --todo--recruiting: #64c0a9;
    --todo--q1goals: #9c72e4;
    --todo--mobile: #f29e33;
    --todo--sales: #b0c926;
    --todo--bgpage: #f6f8f9;
}

html{
    font-family: 'Mulish', sans-serif;
}


/* #endregion General Utility */

/* #region Header */

img{
    vertical-align: middle;
}


h1{
    display: inline-block;
    font-family: var(--todo--font);
    font-size: 40px;
}

header{
    background-color: white;
    height: 100px;
}


/* #endregion Header */


/* #region BodyLayout */

body{
    background-color: var(--todo--bgpage);
}

.page{
    width: 60%;
    margin: auto;
    margin-top: 5px;
    background-color: white;
}

.nav{
    margin-top: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.list{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.all_tasks{
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 100px;
}

/* #endregion BodyLayout */


/* #region Commands */
.commands{
    margin-bottom: 5px;
    padding: 15px 50px;
}

hr{
    border-color: var(--todo--bgpage);
    border: none;
}

#button_task, #button_section{
    background-color: white;
    border-radius: 5px;
    padding: 10px 15px;
}

#button_task{
    color: white;
    border: none;
    background-color: var(--todo--primary);
}

#button_section{
    border-color: lightgrey;
    color: gray;
    border: solid 1px;
}

/* #endregion Commands */

/* #region crossmarks and checkmarks */
.check{
    color: lightgreen;
    border: solid lightgreen;
}

.ex{
    color: red;
    border: solid red;
}

.mark{
    background-color: white;
    border-radius: 50%;
    padding: 5px 7px;
    margin: 5px;
}

/* #endregion crossmarks and checkmarks */

/* #region bookmarks */

.bookmark{
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 14px;
}

.editorial{
    background-color: var(--todo--primary);    
}

.q1goals{
    background-color: var(--todo--q1goals);
}

.recruiting{
    background-color: var(--todo--recruiting);
}

.mobile{
    background-color: var(--todo--mobile);
}

.website{
    background-color: var(--todo--website);
}

.sales{
    background-color: var(--todo--sales);
}

/* #endregion bookmarks */





