/* #region General Utility */

:root{
    --todo--primary: #47adf1;
    --todo--website: #d863a0;
    --todo--recruiting: #64c0a9;
    --todo--q1goals: #9c72e4;
    --todo--mobile: #f29e33;
    --todo--sales: #b0c926;
    --todo--bgpage: #f6f8f9;
    --todo--font: arial, Helvetica, sans-serif;
}

html{
    font-family: var(--todo--font);
}


/* #endregion General Utility */

/* #region Header */

img{
    vertical-align: middle;
}


h1{
    display: inline-block;
    font-family: var(--todo--font);
    font-size: 40px;
}

header{
    background-color: white;
    height: 100px;
}


/* #endregion Header */

h2{
    font-family: var(--todo--font);
}



body{
    background-color: var(--todo--bgpage);
}

.main{
    width: 60%;
    margin: auto;
    margin-top: 5px;
    background-color: white;
}

/* #region Commands */
.commands{
    margin-bottom: 5px;
    padding: 15px 40px;
}

hr{
    border-color: var(--todo--bgpage);
    border: none;
}

#button_task, #button_section{
    background-color: white;
    border-radius: 5px;
    padding: 10px 15px;
}

#button_task{
    color: white;
    border: none;
    background-color: var(--todo--primary);
}

#button_section{
    border-color: lightgrey;
    color: gray;
    border: solid 1px;
}

/* #endregion Commands */

/* #region crossmarks and checkmarks */
.checkmark{
    color: lightgreen;
    background-color: white;
    border: solid lightgreen;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
}

.xmark{
    color: red;
    background-color: white;
    border: solid red;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
}

/* #endregion crossmarks and checkmarks */

/* #region bookmarks */

.bookmark{
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 14px;
}

.editorial{
    background-color: var(--todo--primary);    
}

.q1goals{
    background-color: var(--todo--q1goals);
}

.recruiting{
    background-color: var(--todo--recruiting);
}

.mobile{
    background-color: var(--todo--mobile);
}

.website{
    background-color: var(--todo--website);
}

.sales{
    background-color: var(--todo--sales);
}

/* #endregion bookmarks */
